.Product{

    float: left;
  width: 30%;
  padding: 0;
  font-family: 'Aclonica', sans-serif;

}
.Photo {
   width: 100%;
}

.PhotoName {
    /*margin-top: 245px;*/
    /*padding: 0.5em;*/
    text-align: center;
    background-color: cyan;
    /*background-color: #666666;*/
}
.Row::after {
    content: "";
    clear: both;
    display: table;
  }

  .Button1{
    border-radius: 50%;
    background-color: lightgray;
    position: fixed;
    margin-right: 100px;
    display: flex;
    border: none;
    outline: none;
    align-items: center;
    padding:8px;
    top:80%;
    left:0;
    z-index: 90;

  }

  .Button2{
    border-radius: 50%;
    background-color: lightgray;
    border: none;
    outline: none;
    position: fixed;
    margin-right: 100px;
    display: flex;
    padding:8px;
    align-items: center;
    top:80%;
    left:90%;
    z-index: 90;

  }
  @media(max-width:500px){
    .Button2{
      left:85%;
    }
  }