.ProductVariation{

    float: left;
  width: 80%;
  padding: 5px;
  margin-left: 20px;

}
.Box{
    margin: 20px auto;
    width:60%;
    text-align: center;
    float: left;
    box-shadow: 0 2px 3px grey;
    border: 1px solid grey;
    padding: 10 px;
    box-sizing: border-box;
    }
.Photo {
   width: 100%;
   float: left;
}

.PhotoName {
    /*margin-top: 245px;*/
    /*padding: 0.5em;*/
    text-align: center;
    background-color: cyan;

    /*background-color: #666666;*/
}
.Button{
    background-color: transparent;
    border-color: black;
    color: black;
    margin-left:20px;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    align-items: center;
    margin: 10px;
    font-weight: bold;
}
