.Button{
    background-color: transparent;
    border-color: black;
    color: black;
    margin-left:20px;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    align-items: center;
    margin: 10px;
    font-weight: bold;
}